<ul>
  <% @file_names.each do |file_name| %>
    <li>
      <div>
        <a href="/<%= file_name %>"><%= file_name %></a>
        <% if session[:signed_in] %>
          <a href="/<%= file_name %>/edit">edit</a>
          <form action="/<%= file_name %>/delete" method="post" class="inline">
            <button type="submit">delete</button>
          </form>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<% if session[:signed_in] %>
  <a href="/new">New Document</a>
<% end %>
<br>
<br>
<% if session[:signed_in] %>
  <form action="/users/signout" method="post" class="inline">
    <label><em>Signed in as <%= session[:username] %></em></label>
    <button type="submit">Sign out</button>
  </form>
<% else %>
  <form action="/users/signin" method="get" class="inline">
    <button type="submit">Sign in</button>
  </form>
<% end %>
  